<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs') %>

    <!-- Form Section -->
    <section class="form-container">
        <p id="error" style="text-align: center; color: red;"><%- error %></p>
        <h1>Login Here</h1>
        <form action="/login" method="post">
            
            <label for="email">Email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="submit-btn">Login</button>
        </form>
        <p class="register-link">Don't have an account? <a href="/register">Register here</a></p>
        <p class="forgot-password">Forgot your password? <a href="/forgotPassword">Forgot Password</a></p>
    </section>

    <!-- Footer -->
    <%- include('./footer.ejs') %>

    <script>
        // Hide error message after 3 seconds
        const error = document.getElementById('error');
        setTimeout(() => {
            error.style.display = 'none';
        }, 3000);
    </script>

</body>
</html>
