<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
    <link rel="stylesheet" href="/login.css">
</head>
<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs') %>

    <!-- Form Section -->
    <section class="form-container">
        <h1>Login Here</h1>
        <form action="/login" method="post">
            
            <label for="email">email:</label>
            <input type="text" id="email" name="email" required>

            <label for="password">password:</label>
            <input type="password" id="password" name="password" required>

            <button type="submit" class="submit-btn">Login</button>
        </form>
    </section>

    <!-- Footer -->
    <%- include('./footer.ejs') %>

</body>
</html>
