<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Change Password</title>
    <link rel="stylesheet" href="/passwordChange.css">
</head>
<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs') %>

    <!-- Form Section -->
    <section class="form-container">
        <h1>Change Password</h1>
        <form action="/passwordChange" method="post">
            
            <label for="password">New Password:</label>
            <input type="text" id="password" name="password" required>

            <label for="conformPassword">Conform Password:</label>
            <input type="text" id="conformPassword" name="conformPassword" required>

            <button type="submit" class="submit-btn">Change Password</button>
        </form>
    </section>

    <!-- Footer -->
    <%- include('./footer.ejs') %>

</body>
</html>
