<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="/verifyOtp.css">
</head>
<body>
    <!-- Navbar -->
    <%- include('./navbar.ejs') %>

    <!-- Form Section -->
    <section class="form-container">
        <h1>Verify OTP</h1>
        <form action="/verifyOtp/<%- email %>" method="post">
            
            <label for="otp">OTP:</label>
            <input type="text" id="otp" name="otp" required>

            <button type="submit" class="submit-btn">Verify OTP</button>
        </form>
    </section>

    <!-- Footer -->
    <%- include('./footer.ejs') %>

</body>
</html>
